/* The selectors are in lexicographic order according to their specificity */

body {
    background-color: #eee!important;
}

.container {
    background-color: rgb(255,255,255);
    min-width: 360px;
}

.extra-buffer {
    margin-top: 10vh;
}

.footer-status-code {
    border-top-style: solid;
    border-top-color: #23272b;
    background-color: #28a745;
    height: 40px;
}

.header-status-code {
    padding: 5vh 0;
}

.interval-limit {
    color: #28a745;
}

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 3px;
    text-decoration: none;
    float:right;
}

.label.success {
    background-color: #46a546;
}

.play-form-btn {
    color: #757575;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    width: 23%;
    white-space: normal;
    overflow: hidden;
}

.play-form-text {
    text-align: center;
    width: 45.31%;
    height: 36px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    border-style: none;
}

.results {
    display: table;
    font-size: larger;
    list-style-position: inside;
    margin: 0 auto;
    text-align: left;
}

.result-incorrect {
    color: #dc3545;
}

.result-correct {
    color: #28a745;
}

.secret-message {
    width: 100%;
}

.secret-message:hover p.new-label span {
  display: none;
}

.secret-message:hover p.new-label:after {
  content: 'Marius Mucenicu had something to do with this website.';
}

.secret-message .label {
    margin-bottom: 0;
    margin-top: 1rem;
}

.text-status-code {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.top-buffer {
    margin-top: 20px;
}

#droopy404 {
    display: block;
    margin: 0 auto;
}

#person {
    color: red;
}

#play-btn-col-left {
    padding-right: 4px;
}

#play-btn-col-right {
    padding-left: 4px;
}

@media only screen and (max-width: 768px) {
    #hit-it-form {
        width: 87.5%;
    }
}

@media only screen and (max-width: 992px) {
    .extra-buffer {
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    #dino500 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (min-width: 768px) {
    #hit-it-form {
        width: 502.94px;
    }
}
