/* The selectors are in lexicographic order according to their specificity */

body, html {
    height: 100%;
}

body {
    background-color: #eee!important;
}

embed, img, object, video {
    max-width: 100%;
}

.container-fluid {
    background-color: rgb(255,255,255);
    min-height: 100%;
    min-width: 300px;
    max-width: 960px;
    overflow: auto;
}

.footer-status-code {
    border-top-style: solid;
    border-top-color: #23272b;
    background-color: #28a745;
    height: 40px;
}

.img-results {
    border: 1px solid rgba(0,0,0,.1);
    width: 491px;
}

.interval-limit {
    color: #28a745;
}

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    float: right;
}

.label.success {
    background-color: #46a546;
}

.play-form-btn {
    color: #757575;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    height: 36px;
    width: 126.719px;
    margin: 0 3px;
}

.play-form-text {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    border-style: none;
    height: 44px;
    max-width: 450px;
    text-align: center;
    width: 100%;
}

.result-incorrect {
    color: #dc3545;
}

.result-correct {
    color: #28a745;
}

.secret-message:hover p.new-label span {
  display: none;
}

.secret-message:hover p.new-label:after {
  content: 'Marius Mucenicu had something to do with this website.';
}

.table-results {
    max-width: 491px;
}

.table-results td,
.table-results th {
    font-size: 1.5rem;
}

#droopy404 {
    display: block;
    margin: 0 auto;
}

#person {
    color: red;
}

#play-btn-col-left {
    padding-right: 4px;
}

#play-btn-col-right {
    padding-left: 4px;
}


/* media queries sorted by screen size in ascending order */

@media only screen and (min-width:360px) {
    .secret-message {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 359px) {
    #interval-data h1 {
        font-size: 1.1rem;
    }

    .col-12 > .droopy-title {
        font-size: 1rem;
    }

    .dino-title {
        font-size: 1.1rem;
    }

    .table-results td,
    .table-results th {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 360px) and (max-width:470px) {
    #interval-data h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 576px) {
    .btn-answer-next {
        float: right;
        width: 230.5px;
    }

    .btn-answer-quit {
        float: left;
        width: 230.5px;
    }

    .table-results td,
    .table-results th {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .dino-title {
        font-size: 6.25vw;
    }
}

@media only screen and (min-width: 471px) and (max-width: 600px) {
    #interval-data h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    #btn-begin, #btn-use-selected {
        margin: 0 auto 1rem;
    }

    .droopy-title {
        font-size: 5.21vw;
    }
}
