/* The selectors are in lexicographic order according to their specificity */

body, html {
    height: 100%;
}

body {
    background-color: #eee!important;
}

embed, img, object, video {
    max-width: 100%;
}

.btn-answer {
    width: 157.141px;
    margin: 0 3px;
}

.container-fluid {
    background-color: rgb(255,255,255);
    min-height: 100%;
    min-width: 300px;
    max-width: 960px;
    overflow: auto;
}

.footer-status-code {
    border-top-style: solid;
    border-top-color: #23272b;
    background-color: #28a745;
    height: 40px;
}

.interval-limit {
    color: #28a745;
}

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    float: right;
}

.label.success {
    background-color: #46a546;
}

.play-form-btn {
    color: #757575;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    width: 126.719px;
    margin: 0 3px;
}

.play-form-text {
    text-align: center;
    width: 45.31%;
    height: 36px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    border-style: none;
}

.result-incorrect {
    color: #dc3545;
}

.result-correct {
    color: #28a745;
}

.secret-message:hover p.new-label span {
  display: none;
}

.secret-message:hover p.new-label:after {
  content: 'Marius Mucenicu had something to do with this website.';
}

.text-status-code {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#droopy404 {
    display: block;
    margin: 0 auto;
}

#person {
    color: red;
}

#play-btn-col-left {
    padding-right: 4px;
}

#play-btn-col-right {
    padding-left: 4px;
}

@media only screen and (max-width: 768px) {
    #hit-it-form {
        width: 87.5%;
    }

    #btn-begin, #btn-use-selected {
        margin: 0 auto 1rem;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    #dino500 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (min-width: 768px) {
    #hit-it-form {
        width: 502.94px;
    }
}

@media only screen and (min-width:360px) {
    .secret-message {
        white-space: nowrap;
    }
}
