$var title: Internal Server Error

<div class="col-12 my-4 pt-2 d-flex flex-column justify-content-center">

  <div class="row">
    <div class="col-12 mb-4" align="center">
      <picture>
        <source srcset="/static/images/dinosaur_slim.webp" type="image/webp">
        <img src="/static/images/dinosaur.jpg" class="img-fluid img-status-code" alt="A dinosaur">
      </picture>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h1 class="dino-title">Oops! It looks like <span class="person">I</span> messed up.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mt-3">
      <p>
        Try that again, and if it still doesn't work,
        <a class="font-weight-bold" href="mailto:marius_mucenicu@yahoo.com">let the author know</a>.
      </p>
      <p>Below you will find two helpful links. You know, just in case.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 mb-2 mt-2 mb-sm-5 mt-sm-4">
      <form action="/" method="GET">
        <button type="submit" class="btn btn-block btn-success">Home page</button>
      </form>
    </div>
    <div class="col-12 col-sm-6 mb-5 mt-2 mt-sm-4">
      <a href="https://www.google.com/"
         class="btn btn-block btn-dark">Nah bruh. I'm outta here!
      </a>
    </div>
  </div>

</div>
