$var title: Internal Server Error

<div class="row header-status-code">
  <div class="col-md-4">
    <img id="dino500" src="/static/images/dino500.jpg" class="img-fluid"
         alt="A cute dinosaur placeholder.">
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h1>Oops! It looks like <span id="person">I</span> messed up.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-status-code">
          <p>
            Try that again, and if it still doesn't work,
            <a href="mailto:marius_mucenicu@yahoo.com"> let the author know</a>.
          </p>
          <p>Below you will find two helpful links. You know, just in case.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form action="/" method="GET">
          <button type="submit" class="btn btn-block btn-success">Home page</button>
        </form>
      </div>
      <div class="col-md-6">
        <a href="https://www.google.com/"
           class="btn btn-block btn-dark">Nah bruh. I'm outta here!
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 footer-status-code"></div>
</div>

