$var title: Not Found

<div class="col-12">
  <div class="row">
    <div class="col-12" align="center">
      <img src="/static/images/droopy_404.jpg" class="img-fluid" alt="A dog detective placeholder.">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="droopy-title">Oops! It looks like <span class="person">you</span> messed up.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p>
        Looks like you followed a bad path. If you think it's the author's fault, please 
        <a class="font-weight-bold" href="mailto:marius_mucenicu@yahoo.com">let the author know</a>.
      </p>
      <p>Below you will find two helpful links. You know, just in case.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <form action="/" method="GET">
        <button type="submit" class="btn btn-block btn-success">Home page</button>
      </form>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <a href="https://www.google.com/"
         class="btn btn-block btn-dark">Nah bruh. I'm outta here!</a>
    </div>
  </div>
</div>
