$var title: Not Found

<div class="col-12 my-4 pt-2 d-flex flex-column justify-content-center">

  <div class="row">
    <div class="col-12 mb-4" align="center">
      <picture>
        <source srcset="/static/images/detective_slim.webp" type="image/webp">
        <img src="/static/images/detective.jpg" class="img-fluid img-status-code" alt="A detective">
      </picture>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h1 class="droopy-title">Oops! It looks like <span class="person">you</span> messed up.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3 text-center">
      <p>
        Looks like you followed a bad path. If you think it's the author's fault, please 
        <a class="font-weight-bold" href="mailto:marius_mucenicu@yahoo.com">let the author know</a>.
      </p>
      <p>Below you will find two helpful links. You know, just in case.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 mb-2 mt-2 mb-sm-5 mt-sm-4">
      <form action="/" method="GET">
        <button type="submit" class="btn btn-block btn-success">Home page</button>
      </form>
    </div>
    <div class="col-12 col-sm-6 mb-5 mt-2 mt-sm-4">
      <a href="https://www.google.com/"
         class="btn btn-block btn-danger">Nah bruh. I'm outta here!</a>
    </div>
  </div>

</div>
