$var title: Index


<div class="row">
  <div class="col-md-12 text-center">
    <h1>Welcome to the fascinating world of arithmetic</h1>
    <h3>This game aims to mimic the behavior of an abacus (without the beads that is)</h3>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <p>The rules are pretty simple:</p>
    <ul>
      <li>You will be given a series of numeric intervals</li>
      <li>For each interval you have to type in how many numbers are in that interval</li>
    </ul>
    <p>
     The intervals are of many different types but that's a whole nother story<br>
     In this version of the game you will be using the following types of intervals:
    </p>
    <ul>
      <li>the open interval: For example, (0,9) has 8 numbers</li>
      <li>the closed interval: For example, [0,9] has 10 numbers</li>
      <li>the half-open interval: For example (0,9] has 9 numbers</li>
    </ul>
  </div>
</div>
<div class="row top-buffer text-center">
  <div class="col-md-6">
    <a href="/grade" class="btn btn-success btn-block" id="btn-begin">Let's do it!</a>
  </div>
  <div class="col-md-6">
    <a href="https://google.com/" class="btn btn-dark btn-block" id="btn-quit">
      Nah bruh. I'm outta here!
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-11"></div>
  <div class="col-md-1 secret-message">
    <p class="label success new-label">
      <span>...Shh</span>
    </p>
  </div>
</div>
