$def with (content)

<!DOCTYPE html>
<html>

  <head>
    <title>$content.title</title>
     <!-- note that modern browsers figure out the encoding by themselves -->
    <meta charset="UTF-8">
    <meta name="author" content="Marius Mucenicu">
    <meta name="description" content="A simple arithmetic game to help with boring times">
    <meta name="theme-color" content="#28a745">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/utils.js"></script>
  </head>

  <body>
    <div class="container-fluid d-flex flex-column">
      <div id="drawer-backdrop" class="row" onclick="closeDrawer();"></div>

      <div class="row header border-bottom border-silver">
        <div class="col-12">
          <div class="row hamburger-menu d-md-none">
            <div class="col-9 text-left">
              <a class="font-weight-bold text-dark" href="/">KNOWLIFT</a>
            </div>
            <div class="col-3 text-right">
              <i class="fas fa-bars fa-2x" onclick="openDrawer();"></i>
            </div>
          </div>
          <div class="row drawer text-center">
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12 col-md-6 drawer-item">
                  <a href="/about"
                     class="font-weight-bold text-dark d-block d-md-inline">About</a>
                </div>
                <div class="col-12 col-md-6 drawer-item">
                  <a href="/legal"
                     class="font-weight-bold text-dark d-block d-md-inline">Legal</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 drawer-item">
              <a href="/" class="font-weight-bold text-dark d-block d-md-inline">Knowlift</a>
            </div>
            <div class="col-12 col-md-4">
              <div class="row">
                <div class="col-12 col-md-6 drawer-item">
                  <a href="/ladder"
                     class="font-weight-bold text-dark d-block d-md-inline">Ladder</a>
                </div>
                <div class="col-12 col-md-6 drawer-item">
                  <a href="/fundraising"
                     class="font-weight-bold text-danger d-block d-md-inline">&hearts; Donate</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row content flex-grow-1 flex-shrink-0">
        $:content
      </div>

      <div class="row footer flex-shrink-0">
        <div class="col-12 col-md-4 mb-2 border-top border-silver text-center">
          &copy; 2018-2019 Knowlift <br>
          A pit stop for your brain.
        </div>
        <div class="col-12 col-md-4 mb-2 border-top border-silver text-center">
          Version 0.2.0 <br> Made with:
          <a class="text-dark" href="https://www.w3.org/TR/html/">
            <i class="fab fa-html5 fa-lg fa-fw"></i></a>
          <a class="text-dark" href="https://www.w3.org/TR/CSS/">
            <i class="fab fa-css3-alt fa-lg fa-fw"></i></a>
          <a class="text-dark" href="https://www.w3schools.com/js/js_versions.asp">
            <i class="fab fa-js-square fa-lg fa-fw"></i></a>
          <a class="text-dark" href="https://www.python.org/">
            <i class="fab fa-lg fa-python fa-fw"></i></a>
        </div>
        <div class="col-12 col-md-4 mb-2 border-top border-silver text-center">
          Connect with the author: <br>
          <a class="text-dark" href="https://twitter.com/hasugamer">
            <i class="fab fa-twitter fa-lg fa-fw"></i></a>
          <a class="text-dark" href="https://www.instagram.com/mmarius90/">
            <i class="fab fa-instagram fa-lg fa-fw"></i></a>
          <a class="text-dark" href="https://www.linkedin.com/in/mariusmucenicu/">
            <i class="fab fa-linkedin-in fa-lg fa-fw"></i></a>
          <a class="text-dark" href="https://github.com/mariusmucenicu">
            <i class="fab fa-github fa-lg fa-fw"></i></a>
        </div>
      </div>

    </div>
  </body>

</html>
