$def with (data)
$var title: Play


<div class="row text-center">
  <div class="col-md-12">
    <h1><span>How many integers are within this interval ?</span></h1>
    <h1>
      $data['left_glyph']<span class="interval-limit">$data['start_representation']</span>,
      <span class="interval-limit">$data['stop_representation']</span>$data['right_glyph']
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12"><hr/></div>
</div>
<div class="row">
  <div class="col-md-12">
    <form id="user-answer" action="/result" method="POST" autocomplete="off">
      <div class="row" align="center">
        <div class="col-md-12">
          <input id="hit-it-form" class="play-form-text" type="text" onkeyup="checkEmptyForm()">
          <input type="hidden" id="metadata" value="$data">
        </div>
      </div>
    </form>
    <div id="footer" class="row top-buffer">
      <div class="col-md-6" align="right" id="play-btn-col-left">
        <button id="hit-it-btn" type="submit" class="btn btn-basic btn-sm play-form-btn"
            form="user-answer" onclick="processFormData(this.id);" disabled>
          <span>Hit it</span>
        </button>
      </div>
      <div class="col-md-6" align="left" id="play-btn-col-right">
        <button id="feeling-lucky-btn" type="submit" class="btn btn-basic btn-sm play-form-btn"
            form="user-answer" onclick="processFormData(this.id);">
          <span>I'm feeling lucky</span>
        </button>
      </div>
    </div>
  </div>
</div>
