$def with (data)
$var title: Play


<div class="row text-center">
  <div class="col-md-12">
    <h1><span>How many integers are within this interval ?</span></h1>
    <h1><span class="interval">$data['interval']</span></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12"><hr/></div>
</div>
<div class="row">
  <div class="col-md-12">
    <form id="user-answer" action="/result" method="POST" autocomplete="off">
      <div class="row" align="center">
        <div class="col-md-12">
          <input id="hit-it-form" class="play-form-text" type="text" name="answer"
              onkeyup="checkEmptyForm()">
        </div>
      </div>
    </form>
    <div id="footer" class="row top-buffer">
      <div class="col-md-6" align="right" id="play-btn-col-left">
        <button id="hit-it-button" type="submit" class="btn btn-basic btn-sm play-form-btn"
            form="user-answer" disabled>
          <span>Hit it</span>
        </button>
        <input type="hidden" name="raw_data" value="$data['raw_data']" form="user-answer">
      </div>
      <div class="col-md-6" align="left" id="play-btn-col-right">
        <form id="user-gamble" action="/result" method="POST">
          <button type="submit" class="btn btn-basic btn-sm play-form-btn" name="answer"
              onclick="randomInt();">
            <span>I'm feeling lucky</span>
          </button>
          <input type="hidden" name="raw_data" value="$data['raw_data']">
        </form>
      </div>
    </div>
  </div>
</div>
